.container-fluid {
    padding: 0;
    margin: 0;
}
nav {
    position: relative;
    height: 70px;
}

h1 {
    padding-top: 10%;
}

.navbar-brand {
    height: 60px;
    font-size: 30px;
    padding-left: 20px;
}

.Ian {
    background-color: gray;
    font-size: 25px;
    border-radius: 0;
    margin: 0 auto 0 auto;
}

.navbar-toggle {
    position: absolute;
    top:0;
    right:0;
}

#nav-list {
    margin-top: 10px;

}

#nav-list a {
    top: -10px;
    color: #ffffff;
    text-align: center;
    background-color: #ff6363;
}

#nav-list a:hover {
    border: rgb(255, 255, 255) solid;
}

#nav-list a span {
    font-size: 1.8em;
}
